# Database Configuration
DATABASE_URL="mysql://user:password@localhost:3306/db_crud"

# Notion API Configuration
NOTION_TOKEN=secret_xxxxxxxxxxxxx_xxxxxxxxxxxxx_xxxxxxxxxxxxx
NOTION_DATABASE_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
